
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/site.webmanifest")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Bienvenidos a SOSApp!</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="~/Content/Images/Logo.png" alt="App del Vecino Sunchalense" style="width:70%;margin:10% auto;" />
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>

</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    $(document).ready(function () {
        var ApiUrl = "@System.Configuration.ConfigurationManager.AppSettings["Api.Base.Path"]";
        var url = ApiUrl + "User/0";

        $.ajax({
            type: "GET",
            url: url,
            success: function (response) {
                window.location.replace("/News");
            },
            error: function (e) {
                window.location.replace("/User/Login");
            }
        });
    });
</script>
