<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOSApp</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_Navigation")
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/theme")
    <script>
        var ApiUrl = "@System.Configuration.ConfigurationManager.AppSettings["Api.Base.Path"]";
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Accept", "application/vvv.website+json;version=1");
                xhr.setRequestHeader("Authorization", "Bearer @Session["access_token"]");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Error: " + textStatus + ": " + errorThrown);
            },
            statusCode: {
                401: function () {
                    window.location.replace("/User/Login");
                }
            }
        });

        $("#nickName").html("@Session["given_name"]");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
