<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/site.webmanifest")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewBag.Title | SOSApp</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_Navigation")
        <div class="lds-ripple"><div></div><div></div></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/theme")
    <script>
        var ApiUrl = "@System.Configuration.ConfigurationManager.AppSettings["Api.Base.Path"]";
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Accept", "application/vvv.website+json;version=1");
                xhr.setRequestHeader("Authorization", "Bearer @Session["access_token"]");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Error: " + textStatus + ": " + errorThrown);
            },
            statusCode: {
                401: function () {
                    window.location.replace("/User/Login");
                }
            }
        });

        var $loading = $('.lds-ripple').hide();
        $(document).ajaxStart(function () {
                $loading.show();
            }).ajaxStop(function () {
                $loading.hide();
            });

        $("#nickName").html("@Session["given_name"]");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
